* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0 auto;
  font-family: 'Lora', serif;
  background-color: #eee;
  color: #333;
  font-size: 16px;
}

main {
  z-index: 1;
  padding: 20px;
  margin: 0 auto;
  max-width: 1200px;
}

h1,
h2,
h3 {
  font-family: 'Roboto', sans-serif;
}
h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.5rem;
}

p {
  margin: 15px 0;
}

img {
  max-width: 1200px;
  width: 100%;
}

header {
  display: flex;
  flex-direction: column;
  margin-bottom: 2em;
  padding: 2em;
  width: 100%;
  min-height: 500px;
  background: transparent url(header.jpg) no-repeat 50% 50%;
  background-size: cover;
}

header .hero {
  margin: auto;
  max-width: 100vw;
}

header .hero__title {
  color: #fff;
  font-size: 3rem;
}

blockquote p {
  font-style: italic;
}
.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* color: #000; */
}
.cards a{
  text-decoration: none;
  color: #333;
}

.card{
  display: flex;
  width: 100%;
  min-width: 300px;
  padding: 20px;
  flex-direction: column;

}

.card__image {
  position: relative;
  width: 100%;
  background-color: #666;
  min-width: 200px;
  max-width: 100%;
}
/* .card__content {
  color: #333;
} */
.card__image .card__fill{

}

.container {
  text-align: center;
  margin: 0 auto 20px auto;
}
.container__item{
  margin: auto;
  color: #333;
}
.message {
  width: 100%;
  text-align: center;
}
@media (min-width: 650px) {
  /* header .hero__title {
    color: #fff;
    font-size: 3rem;
  } */
  .card {
    width: 50%
  }
}
